body{
    background-color: rgb(236, 217, 191);
}


.superior, .inferior{

    position:relative;
    width: 500px;
    height: 500px;
    padding-left: 20px;
    padding-top: 30px;
    border-radius: 50px;
    margin: auto; 
    }
    
    
     
    input[type=submit]{
    
        position: relative;
        width: 150px;
        height: 40px;
        border-radius: 10px;
        margin-left: 60px;
        border: 0px;
        background-color: #b3cada;
        font: 14px normal normal uppercase helvatica, arial, serif;
    }
    input[type=reset]{
    
        position: relative;
        width: 150px;
        height: 40px;
        border-bottom: black;
        border-radius: 10px;
        margin-left: 60px;
        border: 0px;
        background-color: #f09993;
        font: 14px normal normal uppercase helvatica, arial, serif;
    }
    
    input[type=text],[type=datetime]{
    
        width: 470px;
        height: 35px;
        font: 14px normal normal uppercase helvatica, arial, serif;
        
        }
    .imagen{
        position: relative;
        width: 150px;
        height: 40px;
        margin-left: 60px;
    }
        
    
   




.verde{
    color:green;
}
.rojo{
    color:red;
}
.azul{
    color:blue;
}
.marron{
    color:brown;
}
.rosa{
    color:pink;
}
.naranja{
    color:orange;
}